services:
  backend:
    container_name: backend
    build:
      context: ./Backend
      dockerfile: Dockerfile
    ports:
      - "3000:${PORT}"
    env_file:
      - .env
    environment:
      - MONGO_DBNAME=${MONGO_DBNAME}
      - MONGO_HOST=${MONGO_HOST}
      - MONGO_PORT=${MONGO_PORT}
      - MONGO_USER=${MONGO_USER}
      - MONGO_PASSWORD=${MONGO_PASSWORD}
      - PORT=${PORT}
    depends_on:
      - mongodb
      - redis
    volumes:
      - ./Backend:/app
    networks:
      - app-network  

  
  mongodb:
    image: mongo:noble
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=password
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  redis:
    image: redis:6.2-alpine
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}", "--bind", "0.0.0.0"]
    volumes:
      - redis_data:/data
    env_file:
      - .env
    networks:
      - app-network


    
  frontend:
      container_name: frontend
      build:
        context: ./Frontend
        dockerfile: Dockerfile
      ports:
        - "5173:5173"
      volumes:
        - node_modules:/app/node_modules
        - ./Frontend:/app
      depends_on:
        - backend
      networks:
        - app-network
      env_file:
        - .env

volumes:
  mongo-data:
  redis_data:
  node_modules:
networks:
  app-network:
    driver: bridge
